// @font-face {
//   src: url(/assets/circular-thin.woff);
//   font-family: Circular;
//   font-weight: 200;
// }
// @font-face {
//   src: url(/assets/circular-thin-italic.woff);
//   font-family: Circular;
//   font-style: italic;
//   font-weight: 200;
// }
// @font-face {
//   src: url(/assets/circular-light.woff);
//   font-family: Circular;
//   font-weight: 300;
// }
// @font-face {
//   src: url(/assets/circular-light-italic.woff);
//   font-family: Circular;
//   font-style: italic;
//   font-weight: 300;
// }
@font-face {
  src: url(/assets/circular-regular.woff);
  font-family: Circular;
  font-weight: 400;
}
// @font-face {
//   src: url(/assets/circular-italic.woff);
//   font-family: Circular;
//   font-style: italic;
//   font-weight: 400;
// }
@font-face {
  src: url(/assets/circular-book.woff);
  font-family: Circular;
  font-weight: 500;
}
// @font-face {
//   src: url(/assets/circular-book-italic.woff);
//   font-family: Circular;
//   font-style: italic;
//   font-weight: 500;
// }
@font-face {
  src: url(/assets/circular-medium.woff);
  font-family: Circular;
  font-weight: 600;
}
// @font-face {
//   src: url(/assets/circular-medium-italic.woff);
//   font-family: Circular;
//   font-style: italic;
//   font-weight: 600;
// }
@font-face {
  src: url(/assets/circular-bold.woff);
  font-family: Circular;
  font-weight: 700;
}
// @font-face {
//   src: url(/assets/circular-bold-italic.woff);
//   font-family: Circular;
//   font-style: italic;
//   font-weight: 700;
// }
// @font-face {
//   src: url(/assets/circular-black.woff);
//   font-family: Circular;
//   font-weight: 800;
// }
// @font-face {
//   src: url(/assets/circular-black-italic.woff);
//   font-family: Circular;
//   font-style: italic;
//   font-weight: 800;
// }
// @font-face {
//   src: url(/assets/circular-extrablack.woff);
//   font-family: Circular;
//   font-weight: 900;
// }
// @font-face {
//   src: url(/assets/circular-extrablack-italic.woff);
//   font-family: Circular;
//   font-style: italic;
//   font-weight: 900;
// }
